<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Sandbox">
    <item label="Chromium">
      <action name="Execute">
        <command>chromium</command>
      </action>
    </item>
    <item label="Terminal">
      <action name="Execute">
        <command>xterm -title Sandbox -e bash -lc 'cd /workspace &amp;&amp; exec bash'</command>
      </action>
    </item>
    <item label="Text Editor">
      <action name="Execute">
        <command>xterm -title Nano -e nano</command>
      </action>
    </item>
    <separator/>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure"/>
    </item>
  </menu>
</openbox_menu>
