# Whisker Menu Configuration

[Favorites]
xfce4-terminal-emulator.desktop
thunar.desktop
xfce4-taskmanager.desktop

[Recent]
0000=thunar.desktop
0001=xfce4-terminal-emulator.desktop

[Settings]
button-title=Applications
button-icon=xfce4-whiskermenu
button-single-row=false
item-icon-size=2
load-hierarchical-menu=true
menu-width=400
menu-height=500
position-alternate=true
position-search-alternate=true
hover-switch-category=true
show-categories=true
show-status-menu=false
show-command-settings=true
show-generic-name=true
sort-generic-name=false
